// font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
$OpenSans: 'Open Sans', sans-serif;
// colors 
$white: #fff ;
$ligth-blue: #287AD940;
$dark-blue: #012754;
$blue: #3D88E2; 
$dark-grey: #707070;
$grey: #A3A3A3;
$ligth-grey: #0000001A;     